@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  font-family: 'Press Start 2P', cursive;
  cursor: url("images/crosshair.png") 25 25, crosshair;
  color: white;
}
.games {
  height: 100vh;
  background-image: url("images/stage.png");
}
.dog {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto auto;
  top: 150px;
  z-index: 2;
}
.winDog {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto auto;
  top: 150px;
  z-index: 2;
}
.hidden {
  display: none;
}
.score-container {
  background-color: black;
  width: 8rem;
  height: 8rem;
  color: #ffffff;
  top: 0;
  right: 0;
  border: 2px solid greenyellow;
  border-radius: 10px;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}
.menu {
  margin-top: 100px;
  z-index: 1;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
}
.duck {
  position: absolute;
  transition: 0.5s ease-in;
}
.birds {
  position: absolute;
  transition: 0.5s ease-out;
}
